fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4
prometheus-client==0.21.1
locust==2.32.2
pyyaml==6.0.2
redis==5.0.1
httpx==0.28.1
tenacity==9.0.0
sentence-transformers==3.0.1
numpy==1.26.4
qdrant-client==1.9.0
